.tej-hr-scroll {
    position: relative;

    .scroll-body {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .scroll-icon {
        position: absolute;
        background-color: rgba(149, 34, 50, 0.1);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        z-index: 7;
        backdrop-filter: blur(1rem);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity 0.2s, cursor 0.2s;

        &.disabled {
            opacity: 0.4;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    // Horizontal Mode
    &:not(.vertical) {
        .prev-icon {
            top: 50%;
            left: -1.4rem;
            transform: translateY(-50%);
        }

        .next-icon {
            top: 50%;
            right: -1.4rem;
            transform: translateY(-50%);
        }

        .scroll-body {
            white-space: nowrap;
        }
    }

    // Vertical Mode
    &.vertical {
        .prev-icon {
            top: -1.4rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .next-icon {
            bottom: -1.4rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .scroll-body {
            display: block;
            height: 25rem; // customize as needed
            overflow-y: auto;
        }
    }
}