@use "light-theme-color" as *;
@use "dark-and-colour" as *;
@use "portal/portal" as *;


.tej-colour svg {
  height: 2rem !important;
}

.ant-float-btn-default .ant-float-btn-body {
  width: 3.6rem !important;
  height: 3.6rem !important;
  text-align: center;
}

.svg-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--ant-primary-color) !important;

  .stroke-color {
    stroke: var(--ant-primary-color) !important;
  }

  .text-toggle {
    fill: var(--tej-text-color);
  }
}

.login-page-container {
  .ant-input-password-icon svg {
    fill: #0B0A0AB2 !important;
  }
}

.clickable {
  cursor: pointer;
}

.card-select-options nz-select-top-control {
  border-radius: 1rem !important;
}

.menu-container {
  .rounded-pill {
    .ant-select-selector {
      border-radius: 50rem !important;
    }
  }
}

.eclipse-icon {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    background: var(--eclipse);
    background-size: 9.6rem;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.end::after {
    right: 0 !important;
    left: unset;
    transform: translate(0.5rem, -50%);
  }

  &.start::after {
    left: 0 !important;
    right: unset;
    transform: translate(0.5rem, -50%);
  }

  &.sm::after {
    background-size: 7.6rem !important;
  }
}

lucide-angular {
  line-height: 1 !important;
}

.borderless-modal {

  .ant-modal-footer,
  .ant-modal-header {
    border: none !important;
  }
}

.wishlist-modal {
  .ant-modal-content {
    border-radius: 2rem !important;
    overflow: hidden !important;
  }

  .buttons {
    button {
      width: 45% !important;
    }
  }
}

.bg-primary {
  background-color: var(--tej-bg-primary) !important;
}

.bg-secondary {
  background-color: var(--tej-bg-secondary) !important;
}


.order-options-main {
  .ant-select-selector {
    background-color: var(--tej-bg-primary) !important;
    border: none !important;
    border-radius: 2rem !important;
    min-width: 9rem !important;
    height: 4.5rem !important;
    align-items: center !important;
  }
}

.header-container, .common-header-container {
  gap: 2rem;

  .menu {
    --size: 4.8rem;
    border: 0.1rem solid var(--border-color);
    backdrop-filter: blur(2.3237rem);

    &:not(.w-auto) {
      width: var(--size);
    }

    height: var(--size);
  }
}

.heart-icon.filled {
  svg {
    fill: var(--ant-danger-color) !important;
    stroke: var(--ant-danger-color) !important;
  }
}

.home-container {
  .ant-carousel {
    .slick-list {
      height: 18rem;
    }
  }
}
