/* You can add global styles to this file, and also import other style files */
@use "styles/secure-derma/main" as *;

@use "styles/developers" as *;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "IBM Plex Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: var(--secure-derma-bg-primary) !important;
}

.ff-dm-serif-text,
h1,
h2,
h3,
h4,
.t1,
.h1,
.h2,
.h3,
.h4 {
    font-family: "DM Serif Text", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 400;
    font-style: normal;
}

.pre-loader {
    height: 100%;
    width: 100%;
    position: relative;
    --background-image: url("/assets/images/preloader/preloader-bg.png");
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.app-max-width {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.home-menu-drawer {
    .ant-drawer-content {
        background-color: var(--secure-derma-bg-secondary) !important;
    }
}