@if (order_success) {
  <div class="odered-main">
    <div class="text-center">
      <div class="pop-main" nz-flex nzJustify="center" nzAlign="center">
        <svg-load class="star-svg" [src]="assets.common.successTick"></svg-load>
        <img [src]="assets.common.successPop" alt="success" class="pop-gif" loading="lazy"/>
      </div>

      <h1 class="my-3" nz-flex nzJustify="center" nzAlign="center">
        <div class="text-white">
          Order<span class="eclipse-icon text-white"> Successful!</span>
        </div>
      </h1>
      @if (order_ids) {
        <div class="success-text b1">
          <!-- @if (order_ids?.length === 1) { -->
          Your Order ID : {{ order_ids }}
          <!-- } @else if (order_ids?.length > 1) { -->
          <!-- {{ order_ids?.length }} Orders have been placed. -->
          <!-- } -->
        </div>

      }

    </div>
  </div>
} @else {
  @if (!backendData) {
    <app-link-not-valid></app-link-not-valid>
  } @else {
    <div nz-flex nzAlign="center" nzJustify="center" class="login-page-container from-otp-login"
         [class.keyboard-open]="isKeyboardOpen" [style]="getBackgroundStyle(assets.login.goldPattern, 'pattern')">
      <div nz-flex nzAlign="center" nzJustify="center" class="login-content position-relative"
           [style]="getBackgroundStyle(assets.login.goldBis, 'gold')">
        <div class="top-star-icon">
          <svg-load [src]="assets.login.star_one"></svg-load>
        </div>
        <div class="login-container p-5">
          <div class="text-center mb-5">
            <img [src]="assets.login.emeraldLogo" alt="logo" class="img-fluid">
            <img [src]="assets.login.loginText" alt="login-text" class="img-fluid">
          </div>
          <form [formGroup]="otpLoginForm" (ngSubmit)="submit()">
            @if (step === 'MOBILE') {
              <!-- Step 1: Mobile -->
              <nz-form-item class="mb-0">
                <nz-form-control>
                  <input nz-input formControlName="mobile" id="mobile"
                         placeholder="Type Your Mobile Number" nzSize="large" numbersOnly/>
                </nz-form-control>

              </nz-form-item>
              <control-messages class="error-maxw" [control]="otpLoginForm.controls['mobile']"
                                [customControlName]="'mobile number'"></control-messages>
            } @else {
              <!-- Step 2: OTP -->
              <p class="text-center b2 text-muted">Enter OTP</p>
              <nz-form-item>
                <nz-flex nzVertical nzGap="middle" class="otp-box-container">
                  <nz-input-otp forceNumericKeyboard nzSize="large" formControlName="otpPassword"></nz-input-otp>
                </nz-flex>
                <control-messages class="maxw-50" [control]="otpLoginForm.controls['otpPassword']"
                                  [customControlName]="'OTP'"></control-messages>
              </nz-form-item>
            }
            <div class="mt-4">
              <button class="tej-btn btn-primary text-primary  btn-lg w-100 fw-semibold login-btn"
                      [disabled]="loginLoading"
                      [ngStyle]="{'--background-image': 'url('+assets.login.loginBtn+')'}">
                Login @if (loginLoading) {
                <tej-button-loader></tej-button-loader>
              }
              </button>
            </div>
          </form>
          <div class="bottom-star-icon">
            <svg-load [src]="assets.login.star_two"></svg-load>
          </div>
        </div>
      </div>
    </div>
  }
}
