.table-pro-image {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.import-section-eye {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .eye-icon {
        background-color: var(--tej-bg-primary);
        padding: 10px 12px !important;
        border-radius: 10px;
        cursor: pointer;
    }
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-review-btn{
    white-space: nowrap;
}


.feeback-container {
    display: flex;
    flex-wrap: wrap;
}

.left-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    max-height: 300px;
    object-fit: contain;
    max-width: 400px;
}

.right-container {
    flex: 1;
}

.conatiner-width {
    width: 100% !important;
    margin: auto;

    @media only screen and (max-width:500px) {
        width: 100% !important;
    }
}

.tej-title-sub {
    color: var(--muted);
    margin: 0;
}
.text-input {
    background-color: var(--menu-bg);
    resize: none !important;
}
.flex-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.more-images-headers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

::ng-deep .ant-rate-star {
    font-size: 35px !important;

    @media only screen and (max-width:500px) {
        font-size: 30px !important
    }

    /* default is 20px */
}

::ng-deep .ant-rate-star {
    padding-right: 10px;
    /* Adjust the spacing between stars */
}

::ng-deep .ant-modal-body {
    padding: 0px !important;
}