@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';
@import './base';
@main-color:#F0F8FF;
@layout-sider-background: @main-color;
@layout-trigger-background: @main-color;
@layout-body-background: @main-color;
@layout-sider-background-light: @main-color;;
@layout-header-background: @white;
