html {
  // This is light theme
  &.dark, &.coloured {
    .home-container {
      .popular-menus {
        .item {
          background: var(--image), var(--tej-bg-primary);
        }
      }
      .jewellery-type-list {
        .item {
          background-color: var(--tej-bg-primary);
        }
      }
      .category-container {
        .category-list {
          .item {
            background: var(--image), var(--tej-bg-primary);
          }
        }
      }
      .projects-container {
        .projects-list {
          .item {
            background: var(--image), var(--tej-bg-primary);
          }
        }
      }
      .batch-list {
        .item {
          background-color: var(--tej-bg-primary);
        }
      }
    }


    //.view-all-page-container {
    //  .items-container{
    //    .count {
    //      background-color: #e7e1e1;
    //      color: black;
    //    }
    //  }
    //}
  }
}
