html {
  // This is light theme
  &.default {
    .home-container {
      .header-container {
        .menu {
          background-color: white !important;
        }
      }
      .popular-menus {
        .item {
          background: var(--image), var(--background);
        }
      }
      .jewellery-type-list {
        .item {
          background-color: #F8F8F8;
        }
      }
      .category-container {
        .category-list {
          .item {
            background: var(--image), linear-gradient(180deg, #FFF8F4 0%, #FFD9C1 100%);
          }
        }
      }
      .projects-container {
        .projects-list {
          .item {
            background: var(--image), linear-gradient(180deg, #FFF8F4 0%, #FFD9C1 100%);
          }
        }
      }
      .batch-list {
        .item {
          background-color: #F8F8F8;
        }
      }
    }
    .card-datatable {
      .ant-input-affix-wrapper {
        border-radius: 2rem !important;
        background-color: var(--ant-secondary-color) !important;
        input {
          background-color: transparent;
        }
      }
    }
  }
}
