<div class="position-relative tej-hr-scroll" [class.vertical]="scrollDirection === 'vertical'" #scrollPageContainer>
    @if (showScrollBtns) {
    <div class="scroll-icon prev-icon" (click)="canScrollPrev && scrollPrev()" [class.disabled]="!canScrollPrev">
        <lucide-angular class="text-primary d-flex" [size]="18"
            [img]="scrollDirection === 'horizontal' ? icons.chevron.leftIcon : icons.chevron.upIcon"></lucide-angular>
    </div>
    }

    <div #scrollBodyContainer class="scroll-body" (scroll)="onScroll()">
        <ng-content select="[data-scroll-body]"></ng-content>
    </div>

    @if (showScrollBtns) {
    <div class="scroll-icon next-icon" (click)="canScrollNext && scrollNext()" [class.disabled]="!canScrollNext">
        <lucide-angular class="text-primary d-flex" [size]="18"
            [img]="scrollDirection === 'horizontal' ? icons.chevron.rightIcon : icons.chevron.downIcon"></lucide-angular>
    </div>
    }
</div>