.text-primary {
  color: var(--ant-primary-color);
}

.text-secondary {
  color: var(--ant-secondary-color);
}

.text-success {
  color: var(--ant-success-color);
}

.text-danger {
  color: var(--ant-danger-color);
}

.text-warning {
  color: var(--ant-warning-color);
}

.text-info {
  color: var(--ant-info-color);
}

.text-light {
  color: var(--ant-light-color);
}

.text-dark {
  color: var(--ant-dark-color);
}

.text-muted {
  color: var(--muted);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-small {
  font-size: 1.2rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
