.calendar-main-container {
    .ant-picker-calendar {
        line-height: 5.5715 !important;
    }

    .ant-picker-calendar-mini .ant-picker-content th {
        padding-bottom: 10px !important;
        color: var(--ant-primary-color);
        font-weight: 500;
        padding-left: 10px;
    }

    .ant-picker-cell .ant-picker-cell-inner {
        min-width: auto;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .ant-picker-calendar-mini .ant-picker-content {
        min-height: 360px !important;
    }

    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
        background-color: var(--ant-primary-color) !important;
        z-index: -1;
    }

    .ant-picker-cell-today {
        color: var(--white) !important;
        z-index: 1 !important;
    }

    .ant-picker-calendar .ant-picker-panel {
        border-top: none !important;
    }

    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
        background-color: unset !important;
        color: unset !important;
    }


    .ant-picker-cell {
        pointer-events: none !important;
    }
}