.imports-view-main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .body-container {
        overflow-y: auto;
        scrollbar-width: thin;
    }


    .import-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1.6rem;
        align-items: start;
        background: var(--white);
        border-radius: 0.8rem;
        padding: 1.6rem 2rem;
        font-family: 'Inter', sans-serif;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.05);

        @media only screen and (max-width: 130rem) {
            grid-template-columns: 1fr 1fr 1fr;

            .import-section-eye {
                justify-content: start;
            }
        }

        .import-section {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            min-width: 0;

            .import-label {
                font-size: 1.3rem;
                color: var(--muted);
                margin: 0;
            }

            .import-link {
                font-size: 1.4rem;
                color: var(--ant-success-color);
                text-decoration: none;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                max-width: 100%;

                // &:hover {
                //   text-decoration: underline;
                // }
            }

            .import-value {
                font-size: 1.4rem;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .import-section-eye {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        .eye-icon {
            background-color: var(--tej-bg-primary);
            padding: 1rem 1.2rem !important;
            border-radius: 1rem;
            cursor: pointer;
        }
    }
}




// Modal
// .import-import-modal {

    .muted-clr {
        color: var(--muted);
    }

    .success-img-main {
        position: relative;

        .pop-gif {
            position: absolute;
            top: 10%;
            left: 33%;
        }
    }



    .no-data-header {
        height: calc(100vh - 25rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }
// }

.import-detail-view {
    height: 100%;
    display: flex;
    flex-direction: column;

    .table-container {
        flex-grow: 1;
        height: 50rem;
    }
}

.import-deatil-img {
    width: 5rem;
    height: 5rem;
}

.import-accordion-main {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.zone-text {
    color: var(--muted);
}

.zone-text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    cursor: pointer;
}

.no-wrap-text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    cursor: pointer;
}