@use "auth" as *;
@use "cart_summary" as *;
@use "tab_container" as *;
@use "design_count" as *;
@use "calendar" as *;
@use "imports_container" as *;

.icon-circle-container {
  --size: 4.8rem;
  border: 0.1rem solid var(--border-color);
  backdrop-filter: blur(2.3237rem);
  cursor: pointer;
  border-radius: 50rem;

  &.flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(.w-auto) {
    width: var(--size);
  }

  height: var(--size);
}