.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 30px 16px 0;
    float: left;
}

.ant-layout-header {
    padding: 0 16px;
}

.header-menu {
    line-height: 64px;
}

.sider-menu {
    border-right: 0;
}

.inner-layout {
    padding: 0 2px 2px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin !important;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding: 24px;
    min-height: 280px;
}

.header-container {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--secure-derma-border-color);

}

.sider-container {
    border-right: 2px solid var(--secure-derma-border-color);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

    // -ms-overflow-style: none;
    // scrollbar-width: none;
    @media only screen and (max-width:1150px) {
        display: none;
    }
}

.sider-container::-webkit-scrollbar {
    // display: none;
}

.main-header-container {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-bottom: 2px solid var(--secure-derma-border-color);
}

.header-side-container {
    // border-right: 1px solid var(--secure-derma-border-color);
    min-width: 300px;
}

.menu-header-name {
    flex: 1;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
}