@import '../../node_modules/ng-zorro-antd/ng-zorro-antd';
@import "./themes/default";

@primary-color: #1a5944;
@secondary-color: #f5f5f5;

:root {
  --ant-primary-color: @primary-color; // Override primary color
  --ant-secondary-color: @secondary-color; // Override secondary color
  --secure-derma-grey-color: @grey-color;
  --secure-derma-bg-primary: #F8F8F8;
  --secure-derma-bg-secondary: #FFFFFF;
  --secure-derma-body-bg: #FFFFFF;
  --ant-primary-color-hover: darken(@primary-color, 10%); // Optional: Darker hover state
  --ant-primary-color-active: darken(@primary-color, 15%); // Optional: Active state
  --ant-primary-color-outline: fade(@primary-color, 20%); // Optional: Focus outline
  --muted: #0B0A0A8C;
  --secure-derma-text-color: #000000d9;
  --notification-bg-color :#FBF8F2;
  --change-password-bg: #D2E4FF;
  --secure-derma-border-color: #0B0A0A14;
  --success-color: #19B84F;
  --success-bg-color: #E8F8ED; 
  --danger-color: #FF343A;
  --danger-bg-color: rgba(255, 52, 58, 0.2);
  --warning-color: #FF832B;
  --warning-bg-color: rgba(255, 131, 43, 0.1);
  --brand-color-background: fade(@primary-color, 10%);
}


@import "themes/components /_buttons";
@import "themes/components /_text";
