@use "portal/portal" as *;


.ant-float-btn-default .ant-float-btn-body {
  width: 36px !important;
  height: 36px !important;
  text-align: center;
}

.svg-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--ant-primary-color) !important;

  .stroke-color {
    stroke: var(--ant-primary-color) !important;
  }

  .text-toggle {
    fill: var(--secure-derma-text-color);
  }
}

.login-page-container {
  .ant-input-password-icon svg {
    fill: #0B0A0AB2 !important;
  }
}

.clickable {
  cursor: pointer;
}

.card-select-options nz-select-top-control {
  border-radius: 1rem !important;
}

lucide-angular {
  line-height: 1 !important;
}

.bg-primary {
  background-color: var(--secure-derma-bg-primary) !important;
}

.bg-secondary {
  background-color: var(--secure-derma-bg-secondary) !important;
}


.order-options-main {
  .ant-select-selector {
    background-color: var(--secure-derma-bg-primary) !important;
    border: none !important;
    border-radius: 20px !important;
    min-width: 90px !important;
    height: 45px !important;
    align-items: center !important;
  }
}

.heart-icon.filled {
  svg {
    fill: var(--ant-danger-color) !important;
    stroke: var(--ant-danger-color) !important;
  }
}

