@if((!selectedFile || selectedFile == null ) || onlyFileName){
<div class="upload-box" (click)="(!selectedFile || reUpload) && triggerUpload(fileInput)">
    <input type="file" #fileInput [accept]="accept" hidden (change)="onFileChange($event)" />

    <div class="upload-content">
        @if(!selectedFile || selectedFile == null){
        <div class="text-center">
            <lucide-angular [img]="icons.common.fileUp" class="text-primary"></lucide-angular>
        </div>
        @for(data of label;track data){
        <p>{{data}}</p>
        }
        }
        @else{
        <p class="success text-success text-center">{{ selectedFile.name }}</p>
        }
    </div>
</div>
}
@else if(showUploadFile){
<div class="video-preview-main">
    <video [src]="previewUrl" controls width="100%" height="200px"></video>
    @if(showDeleteIcon){
    <div class="video-remover m-0 clickable" (click)="deleteVideo()">
        <lucide-angular [img]="icons.common.delete" class="delete-icon d-flex m-0" size="20"></lucide-angular>
    </div>
    }
</div>
@if(!showDeleteIcon){
<div (click)="triggerUpload(fileInput)">
    <div class="change-file">Change file</div>
    <input type="file" #fileInput [accept]="accept" hidden (change)="onFileChange($event)" />

</div>
}
}
@if(showErrorMesage){
<p class="error text-danger">{{ errorMessage ? errorMessage : '' }}</p>
}
@if(selectedFile != null && onlyFileName){
<div (click)="triggerUpload(fileInput)">
    <div class="change-file">Change file</div>
    <input type="file" #fileInput [accept]="accept" hidden (change)="onFileChange($event)" />

</div>
}