@use "variables" as *;
@use "functions" as *;
@use "sass:map";

$displays: (none, inline, inline-block, block, flex, grid);

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }

  @each $breakpoint in map.keys($breakpoints) {
    .d-#{$breakpoint}-#{$display} {
      @media (min-width: get($breakpoints, $breakpoint)) {
        display: $display;
      }
    }
  }
}
