 .design-count-section {
     .ant-collapse>.ant-collapse-item>.ant-collapse-header {
         align-items: center !important;
     }

     .ant-collapse {
         border: none !important;
         background-color: var(--secure-derma-bg-primary) !important;
     }

     .ant-collapse-content {
         border-top: none !important;
         background-color: var(--secure-derma-bg-secondary);
     }

     .ant-collapse-content-box .ant-collapse-icon-position-start {
         background-color: transparent !important;
     }

     .ant-collapse>.ant-collapse-item {
         border: none !important;
         background-color: var(--secure-derma-bg-secondary) !important;
         border-radius: 20px !important;
         margin-bottom: 20px !important;
         overflow: hidden !important;
     }
 }