<div nz-flex nzAlign="center" nzJustify="center" class="login-page-container"
    [style]="getBackgroundStyle(assets.login.goldPattern, 'pattern')">
    <div nz-flex nzAlign="center" nzJustify="center" class="login-content position-relative"
        [style]="getBackgroundStyle(assets.login.goldBis, 'gold')">
        <div class="top-star-icon">
            <svg-load [src]="assets.login.star_one"></svg-load>
        </div>
        <div class="login-container p-5">
            <div class="text-center mb-5">
                <svg-load [src]="assets.login.emerald_icon"></svg-load>
                <svg-load class="login-svg" [src]="assets.login.changePassword"></svg-load>
            </div>
            <form class="content" [formGroup]="form" (ngSubmit)="changePassword()">
                <!-- <div class="mb-3">
                    <label class="text-primary fw-medium">Current Password</label>
                    <nz-input-group [nzSuffix]="currentSuffix" class="password-input-group">
                        <input [type]="passwordVisibleCurrent ? 'text' : 'password'" nz-input
                            placeholder="Type your password" formControlName="old_password" nzSize="large"
                            class="password-input" autocomplete />
                    </nz-input-group>
                    <ng-template #currentSuffix>
                        <nz-icon class="ant-input-password-icon text-muted"
                            [nzType]="passwordVisibleCurrent ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisibleCurrent = !passwordVisibleCurrent" />
                    </ng-template>
                </div> -->

                <div class="mb-3">
                    <label class="text-primary fw-medium">New Password</label>
                    <nz-input-group [nzSuffix]="newSuffix" class="password-input-group">
                        <input [type]="passwordVisibleNew ? 'text' : 'password'" nz-input
                            placeholder="Type your password" formControlName="new_password1" nzSize="large"
                            class="password-input" autocomplete />
                    </nz-input-group>
                    <ng-template #newSuffix>
                        <nz-icon class="ant-input-password-icon text-muted"
                            [nzType]="passwordVisibleNew ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisibleNew = !passwordVisibleNew" />
                    </ng-template>
                </div>

                <div class="mb-3">
                    <label class="text-primary fw-medium">Confirm Password</label>
                    <nz-input-group [nzSuffix]="confirmSuffix" class="password-input-group">
                        <input [type]="passwordVisibleConfirm ? 'text' : 'password'" nz-input
                            placeholder="Type your password" formControlName="new_password2" nzSize="large"
                            class="password-input" autocomplete />
                    </nz-input-group>
                    <ng-template #confirmSuffix>
                        <nz-icon class="ant-input-password-icon text-muted"
                            [nzType]="passwordVisibleConfirm ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisibleConfirm = !passwordVisibleConfirm" />
                    </ng-template>
                </div>

                <div class="mt-4">
                    <button type="submit" class="tej-btn btn-primary text-primary btn-lg w-100 fw-semibold"
                        [ngStyle]="{'--background-image': 'url('+assets?.login?.loginBtn+')'}">
                        Update Password @if (loginLoading) {
                      <tej-button-loader></tej-button-loader>
                    }
                    </button>
                </div>
            </form>

            <div class="bottom-star-icon">
                <svg-load [src]="assets.login.star_two"></svg-load>
            </div>
        </div>
    </div>
</div>
